<div class="review-popup">
    <div class="popup-header">
        <span class="balloon-header">
            <i class="fa fa-map-marker-alt popup-geo-point"></i>
            {{address}}
        </span>
        <button type="button" class="btn-close">
            <i class="fa fa-times" aria-hidden="true"></i>
        </button>
    </div>
    <div class="reviews">
        <div class="review-list">
            Отзывов пока нет
        </div>
    </div>
    <!--    <hr class="delimiter"/>-->
    <div class="add-review-form">
        <form class="add-review">
            <div class="add-review-header">
                Ваш отзыв
            </div>
            <input name="author" placeholder="Ваше имя" autocomplete="off">

            <input name="place" placeholder="Укажите место" autocomplete="off">

            <textarea name="text" id="review-textarea" rows="5"
                      placeholder="Поделитесь впечатлениями"></textarea>
            <div>
                <button class="add-review-btn float-right">Добавить</button>
            </div>

        </form>
    </div>
</div>