<div class="address-review">
    <div class="header">
        <span class="baloon-header">
            <i class="fa fa-map-marker"></i>
            This is address
        </span>
        <button type="button" class="btn-close">
            <i class="fa fa-times"></i>
        </button>
    </div>
    <div class="review-list">
        <div class="review-list-wrapper">
            no review
        </div>
        <form class="add-review">
            <h2 class="add-review-header">
                Ваш отзыв
            </h2>
            <input name="author" placeholder="Ваше имя">
            <input name="place" placeholder="Укажите место">
            <textarea name="text" id="review-textarea" rows="5"
                      placeholder="Поделитесь впечатлениями"></textarea>
            <button class="add-review-btn">Добавить</button>
        </form>
    </div>
</div>